<div class="grid grid-nogutter surface-section text-800">
  <div
    class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
    <section>
      <span
        class="block flex justify-content-center flex-wrap text-6xl font-bold mb-1">{{
        schoolName }}</span>
      <div class="text-2xl text-primary font-bold mb-3">
        <p class="m-1" *ngFor="let item of atendimento">{{item}}</p>

      </div>
      <p class="mt-0 mb-4 text-700 line-height-3">{{frase}}</p>
    </section>
  </div>
  <div *ngIf="fachada" class="col-12 md:col-6 overflow-hidden">
    <img [src]="fachada" alt="Image" class="md:ml-auto block h-30rem "
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>

<p-divider></p-divider>
